# vscode project files
.vscode
# pycharm project files
.idea

# virtual environment
env
.venv
venv

# pytest cache
.pytest_cache

# python bytecode
__pycache__/

# temp files
tmp*.*
temp*.*
tmp*/
temp*/
# don't ignore template folder
!template
